@tailwind base;
@tailwind components;
@tailwind utilities;

.title-gradient {
  background: linear-gradient(to right, #ff6383, #4c9fc4);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
